body{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

html{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

a{
  text-decoration: none !important;
}

 a:hover{
   text-decoration: none !important;
 }

 p{
   margin: 0 0 0 0 !important;
 }

/*usefull*/
.fullh{
  height: 100% !important;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hor_center{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.txt_h1{
  font-size: 47px;
  line-height: 69px;
  font-family: 'Montserrat', sans-serif;
}

.txt_h2{
  font-size: 29px;
  line-height: 46px;
  font-family: 'Montserrat', sans-serif;
}

.txt_h3{
  font-size: 18px;
  line-height: 23px;
  font-family: 'Montserrat', sans-serif;
}

/*padding - margin*/
.pt_100{
  padding-top: 100px;
}

.pt_25{
    padding-top: 25px;
}

.pb_50{
  padding-bottom: 50px;
}

.pt_50{
  padding-top: 50px;
}

.pb_100{
  padding-bottom: 100px;
}

.pb_25{
  padding-bottom: 25px;
}

.pl_70{
  padding-left: 70px !important;
}

.mb_25{
  margin-bottom: 25px;
}

.mb_50{
  margin-bottom: 50px;
}
.mb_150{
  margin-bottom: 150px;
}
/*herobanner*/
.hero_b{
  background-image: url(../img/herob.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90%;
}

.black_opacity{
  background: rgba(0, 0, 0, 0.5);
}

.logo_img{
  height: 100px;
}

.hero_b_txt{
  color: #FFFFFF;
}

.ottieni_button{
  border-radius: 500px;
  background: #FFFFFF;
  width: 200px;
  height: 50px;
}
.ottieni_button:hover{
  cursor: pointer;
  opacity: 0.7;
  transition: 1s;
}

.ottieni_button_txt{
  color: #333333;
  font-weight: 600;
  font-size: 16px;
}

.ottieni_txt{
  color: #FFFFFF;
  /*text-decoration: underline;*/
}

.arrow{
    color: #ffffff;
    animation: blink 2s ease infinite;
    font-size: 75px !important;
  }

.arrow:hover{
  cursor: pointer;
}

  @keyframes blink {
  50% { opacity: 0;
  }
  }

.arrow_aligne{
  position: absolute !important;
  top: 90%;
}

.color_black{
  color: #FFFFFF !important;
  font-weight: 500;
}
/*come funziona section*/
.section_title_txt{
  color: #333333;
  font-weight: 600;
}

.pin_point_title{
  color: #959595;
  font-weight: 700;
}

.pin_point_description{
  color: #333333;
}

.icon_size{
  height: 100px;
}
.cta_txt{
  color: #333333;
  /*text-decoration: underline;*/
}
/*perchè scegliere weefarm section*/
.section2{
    /*background-image: linear-gradient(to right bottom, #7bffd0, #7effbf, #87ffac, #94ff96, #a4ff7f);*/
    background-color: #3fc380;
}

.bold_txt{
    font-weight: 600;
}

.map_size{
  width: 50%;
}

.map_size2{
  width: 25%;
}

.funzionamento{
  width: 50%;
}
/*cosa dicono di noi section*/
.image_radius{
  border-radius: 5px;
}


.sign_button{
  border-radius: 500px !important;
  width: 200px !important;
  height: 50px !important;
  background-color: #3fc380 !important;
}

.sign_button:hover{
    opacity: 0.7;
    transition: 1s;
    cursor: pointer;
}

.signup_button_txt{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
}

.sign_button a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#mc_embed_signup_scroll{
  width: 25%;
}
#mc_embed_signup .mc-field-group{
  padding-bottom: 25px!important;
}

#mc_embed_signup .button{
  border-radius: 500px !important;
  width: 200px !important;
  height: 50px !important;
  background-color: #3fc380 !important;
  font-size: 16px !important;
  line-height: 23px !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600 !important;

}

#mc_embed_signup .button:hover{
  opacity: 0.7 !important;
  transition: 1s !important;
  cursor: pointer !important;
}

#mc_embed_signup .mc-field-group input {
  border-radius: 500px !important;
  font-family: 'Montserrat', sans-serif !important;
}

.clear{
  padding-top: 25px !important;
}
/*FAQ*/
.section4{
  background-color: #f7f8fa !important;
}

/*Footer*/
.section6{
  background-color: #333333;
}

.social_icon{
  cursor: pointer;
  font-size: 30px;
  color: #ffffff;
}

.social_icon:hover{
  opacity: 0.7;
  transition: 1s;
}

/* Thank you 1*/
.ottieni_button_ty_v{
  background-color: #3fc380 !important;
}

.ottieni_button_ty_r{
  background-color: #E94B5F !important;
}

.white{
  color: #FFFFFF;
}
