body{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

html{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

/*usefull*/
.fullh{
  height: 100%;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt_h1{
  font-size: 47px;
  line-height: 69px;
  margin-top: 23px;
  margin-bottom: 23px;
}

/*herobanner*/
.hero_b{
  background-image: url(../img/herob.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}

.black_opacity{
  background: rgba(0, 0, 0, 0.5);
}

.hero_b_txt{
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.ottieni_button{
  border-radius: 500px;
  background: #FFFFFF;
  width: 200px;
  height: 50px;
}
