body{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

html{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

/*usefull*/
.fullh{
  height: 100%;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt_h1{
  font-size: 47px;
  line-height: 69px;
  font-family: 'Montserrat', sans-serif;
}

.txt_h2{
  font-size: 29px;
  line-height: 46px;
  font-family: 'Montserrat', sans-serif;
}

.txt_h3{
  font-size: 18px;
  line-height: 23px;
  font-family: 'Montserrat', sans-serif;
}

/*padding*/
.pb_50{
  padding-bottom: 50px;
}

.pb_25{
  padding-bottom: 25px;
}

.pl_35{
  margin-left: 20px;
}

/*herobanner*/
.hero_b{
  background-image: url(../img/herob.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}

.black_opacity{
  background: rgba(0, 0, 0, 0.5);
}

.logo_img{
  height: 100px;
}

.hero_b_txt{
  color: #FFFFFF;
}

.ottieni_button{
  border-radius: 500px;
  background: #FFFFFF;
  width: 200px;
  height: 50px;
}

.ottieni_button_txt{
  color: #333333;
}

.ottieni_txt{
  color: #FFFFFF;
  text-decoration: underline;
}
